AppIcon ICON "icon.ico"

1 24 "manifest.xml"

1 VERSIONINFO
FILEVERSION 2, 0, 0, 0
PRODUCTVERSION 2, 0, 0, 0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Chronic-Dev Team"
      VALUE "FileDescription", "Absinthe iOS 5.1.1 untethered jailbreak"
      VALUE "FileVersion", "2.0.0"
      VALUE "InternalName", "absinthe2.0"
      VALUE "LegalCopyright", "© 2011-2012 Chronic-Dev Team. All rights reserved."
      VALUE "ProductName", "Chronic-Dev Absinthe"
      VALUE "ProductVersion", "2.0.0"
    }
  }
}
